
	body {		background-color: #cccccc;
				background-repeat: no-repeat;
				background-size: cover;
			}

	header {	font-size: 18pt;
				background-repeat: no-repeat;
				background-color: gray;
				height: 100px;
				border-bottom: 5px solid black;
				border-style: inset;
			}
	.logo { 
			margin-left: 80px;
			margin-top: 2px;
			float: left;
			}
	.text1 {
		float: left;
		color: white;
		font-size: 30px;
		margin-top: 15px;
	}
	.text2 {
		float: left;
		color: white;
		position: absolute;
		font-size: 20px;
		margin-left: 175px;
		margin-top: 30px;
	}

.navigasi {
	border-radius: 10px;
	display: inline-block;
	float: right;
	margin-top: 0px;
	font-size: 15px;
	margin-right: 20px;
	padding: 20px 0px 20px 0px;
	background-color: gray;
}
.aktif {
	border-radius: 10px;
	background-color: black;
}
.navigasi a {
	text-decoration: none;
	padding: 15px;
	color: white;
}
.navigasi a:hover {
	border-radius: 10px;
	background: black;
	color: white;
}
.content {
	color: white;
	margin-top: 20px;
	display: none;
    position: absolute;
	background-color: rgba(102, 153, 153, 0.7);
    min-width: 164px;
}
.content a {
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.content a:hover {
	background-color: black;
}

.vl {
  position: absolute;
    border-left: 6px solid gray;
    height: 489px;
    margin-left: 200px; 
    margin-top: 0px;
}

.isi0 {
  position: absolute;
    background-color: gray;
    color: white;
    width: 40%;
    border: 5px;
    border-style: dashed;
    padding: 0px;
    margin-left: 600px;
  margin-top: 120px;
  font-size: 16px;
}

.isi2 {
  position: absolute;
    background-color: gray;
    color: white;
    width: 40%;
    border: 5px;
    border-style: dashed;
    padding: 0px;
    margin-left: 600px;
    margin-top: 350px;
    font-size: 16px;
}

.isi {
	   position: absolute;
     color: black;
     margin-left: 260px;
     margin-top: 25px;
     font-size: 16px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin-top: 40px;
  margin-left: 15px;
  text-align: center;
  font-family: arial;
}

button {
  border: none; 
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-size: 21px;
}

button:hover, a:hover {
  opacity: 0.7;
}

.aktif1 {
 color: white;
 font-style: bold;
}

.pinggir{
	margin-top: 129px;
	position: absolute;
	width: 200px;
	background-color: #f1f1f1
}
.tanggal {
	position: absolute;
	width: 200px;
	margin-bottom: 900px;
	background-color: #f1f1f1
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}